html {
    background-color:azure  ;
    background-image: radial-gradient()rgb(100, 100, 100) 0%, rgb(250, 250, 250) 100%);
    -webkit-font-smoothing: antialiased;
}

body {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color:black;
    font-family:cursive; Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 0em 2em 4em;
}

h1, h2, h3, h4, h5, h6 {
    color:darkred;
    font-weight: 600;
    line-height: 1.3;
    
}
p1, p2, p3, p4, p5, p6 {
    color:firebrick;
    font-weight: 600;
    line-height: 1.3;
}
h2 {
    margin-top: 0.3em;
}

a {
    color: #0083e8;
}
b, strong {
    font-weight: 600;
}
samp {
    display: none;
}

img {
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    border: 10px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
}

@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}

html {
    background-color:azure  ;
    background-image: radial-gradient()rgb(100, 100, 100) 0%, rgb(250, 250, 250) 100%);
    -webkit-font-smoothing: antialiased;
}

body {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color:black;
    font-family:serif; Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 2em 2em 4em;
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.3;
}

h2 {
    margin-top: 1.3em;
}

a {
    color: #0083e8;
}

b, strong {
    font-weight: 600;
}

samp {
    display: none;
}

img {
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    border: 10px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
}

@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}